.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0;
  border:none;
}
#settings.btn:focus {
  border:1px solid #ccc;
}
body, html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a:active {
  text-decoration: none;
}
.header-wrapper {
  /* background: lightyellow;
  color: darkturquoise;
  margin-top: 5px; */
  /* background: rgb(232, 232, 219); */
  background: #97cce6;
  color: rgb(24, 179, 181);
  margin-top: 1px;
}
.timer-wrapper {
  /* margin: 11px 0 12px; */
  /* background-image: linear-gradient(to right, #b3d4fc, #f7f9fa, #f7f9fa, #b3d4fc); */
  /* background-image: linear-gradient(to right,  #f7f9fa, #f7f9fa, #B3D4FC , #f7f9fa, #f7f9fa); */
  background-image: linear-gradient(to right,  #f7f9fa, #f7f9fa, #e3eefb , #f7f9fa, #f7f9fa);
}
#intimerDate {
  float: left;
  color: #c3bebe;
}
#intimer {
  /* color: peru; */
  /* font-size: 24px; */
  /* color: #f7f9fa; */
  color: #076797;
  float: right;
  padding-right: 0;
  margin-right: -11px;
  /* box-shadow: 0px 0px 12px 1px; */
  /* padding: 11px 15px 13px; */
}

button#settings {
    margin-bottom: 5px;
}
.toolbar span {
  font-size: large;
  vertical-align: sub;
}
.option-flex .col-xs-6 {
  padding-left: 3px;
  padding-right: 3px;
}
.homeview, .option-flex{
  display: none;
}

.body-wrapper {
  margin-top: 10px;
}

/* .body-wrapper .toolbar-wraper {
  border-bottom: 1px solid #97cce669;
} */

.mainContent {
  margin-top: 2px;
}
/* .status-info {
  background-color: #eeeeee52;
  box-shadow: 3px 1px 8px 0px #97cce6;
} */

.tabletime-wrapper {
  /* margin-top: 10px; */
}

.menu-wrapper .alert,
.status-info .alert {
  /* color: #97cce6; */
  padding: 0;
  color: #008b8b;
  margin-bottom: 1px;
  font-size: x-large;
}
/* .option-swip {
  margin-top: 10px;
} */
.option-swip button span{
  line-height: 30px;
}

.option-swip .swip-in-out {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.option-swip .swip-out {
    color: #2e6da4;
    font-weight: 700;
}

.ti-plus-sign {
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: bottom;
  vertical-align: initial;
}

.btn-remove-entry {
    border-radius: 15px;
    float: right;
}

.removeEntry{
    /* color: white; */
    color: #ce2d22;
}
.removeEntry:before {
  font-size: large;
  line-height: 24px;
}
.margin_bottom_10 {
    margin-bottom: 10px;
}

.actual-total {
    font-size: 20px;
    color: darkcyan;
    border-bottom: 1px solid #eaeaea;
    background-color: #ffffff;
}
.filo-total, .office-total {
    font-size: 17px;
    color: cadetblue;

}

.clear-entries, .confirm-edit, button.btn-remove-entry {
  display:none;
  margin-right: 3px;
}
.clear-entries{
  /* margin-bottom: -2px;
  margin-top: 10px; */
  /* margin-bottom: 7px; */
  padding-right: 11px;
}
.last-row.edit-start {
    margin-bottom: 45px;
}
.confirm-edit {
/*     padding: 10px 0 5px;
    border: solid 0.6px #5f9ea0;
    background-color: rgba(34, 34, 28, 0.67); */
    position: fixed;
    /* padding: 7px 0 11px; */
    padding: 12px 0 13px;
    bottom: 0;
    width: 100%;
    background-color: white;
    /* box-shadow: 1px 5px 18px #3F51B5; */
    box-shadow: 0px 1px 9px #3F51B5;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    /* padding: 5px; */
    vertical-align: middle;
    font-size: 15px;
    border: 0;
}

.inTimeRow {
    /* background-color: #eff5f2; */
}
.outTimeRow {
    /* background-color: #f5f5f5; */
    background-color: #fbf7f7;
}

#tabletimeTotal .actual-total .time-diff strong {
    /*
    font-family: fantasy;
    color: #e4effb;
    text-shadow: 0 0 7px #08666b; */
    font-size: 44px;
    font-family: serif;
    color: #79b2f0;
    text-shadow: 3px 0px 2px #08666b;
    letter-spacing: 6px;
    font-weight: 500;

}

.filo-total .time-diff,
.office-total .time-diff strong {
  /* color: black; */
  font-family: serif;
  text-align: left;
}
.filo-total-gross,
.filo-total-actual {
  text-align: right;
  color: #cebda6;
}

#tabletimeTotal .time-diff-milli {
  font-size: 11px;
  text-align: right;
}

td.time-diff {
  text-align: right;
}

td .time-diff-mi {
  font-size: 11px
}
.entryStateSingle {
    float: left;
}
.is-edit .entryStateSingle {
    line-height: 31px;
    padding-left: 8px;
}
.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.data-list-wrapper {
  margin-top: 14px;
}

.user-state{
  text-shadow: 1px 1px 3px #000000;
  /* position: absolute; */
}
.user-state.in{
  /* color: #4ee943; */
  color: #ffffff;
  font-stretch: extra-expanded;
}
.user-state.out{
  color: #e94343;
}
.user-state.in.nocolor, .user-state.out.nocolor{
  color: #97cce6;
  font-stretch: extra-expanded;
}

.option-swip button {
  border-radius: 27px;
}
.status-info-bar {
  /* background-color: #eeeeee52;
  box-shadow: 0px 0px 8px 0px #97cce6;
  margin-left: 15px;
  width: 93%; */
  /* background-color: #d6e9ea; */
  /* background-color: #ecf6f7; */
  box-shadow: 0px 0px 8px -2px #97cce6;
  text-align: right;

}
span#entryDate {
    /* color: #dcc3a6; */
    color: #ffffff;
    text-shadow: 0px 1px 4px #737373;
}
strong.pull-right {
    width: 60px;
    text-align: center;
}
span.checkbox-wrapper {
  float: right;
}
span.checkbox-wrapper input {
  width: 20px;
  height: 20px;
  margin: 0;
}
#myModalLabel,
#myDataImportModalLabel {
  color: #d9534f;
}
#myHelpModalLabel {
  color: #1cb811;
  text-transform: uppercase;
}

.main-container-wrapper.bg2 {
  /* background-color: #edf8f5; */
  background-color: #eff3f2;
}

.entryHeader{
  text-align: right;
}
.entryHeader span{
  font-size: 12px;
}

.text-align-right{
  text-align: right;
}
.repeat-icon {
    font-size: 21px;
    line-height: 30px;
    cursor: pointer;
    color: #7eb4e4;
    margin-left: 5px;
    margin-top: 1px;
    text-shadow: 0px 1px 1px #737373;
}

.repeat-icon.hiddenIcon {
    visibility: hidden;
}

.table>tbody>tr.entryHeader>td {
  padding: 1px 6px 2px 0;
  color: #cebda6;
  font-weight: bold;
  min-width: 102px;
  border-top: 0;
}
.table>tbody>tr.entryHeader>td.entryHeaderMilli {
  padding: 1px 0px 2px 0;
}
.main-container-wrapper.bg2 .table>tbody>tr.entryHeader>td {
  color: #c3ae92;
}
a.toolbar.active.enabled {
  background-color: cadetblue;
  color: white;
}

div#inTimeAppAlert {
    display: none;
    position: fixed;
    bottom: 5%;
    width: 95%;
    margin-left: 3%;
    background-color: cadetblue;
    color: white;
}

.option-swip {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    padding: 8px 0 9px;
    /* background-color: #4e2639; */
    background-color: #e4effb;
    /* box-shadow: 1px 5px 18px #3F51B5; */
    box-shadow: 0px 1px 9px #3F51B5;
}

#tabletimeTotal,
#tabletime {
    margin-bottom: 0;
}
/* .actual-total,  */
#tabletimeTotal {
    background-color: #e4effb;
}

#tabletime {
    border-bottom: 1px solid #dedede;
}

#tableTimeDiv {
    max-height: calc(100vh - 284px);
    min-height: calc(100vh - 284px);
    overflow-y: auto;
}

body.not-today #tableTimeDiv {
    max-height: calc(100vh - 218px);
    min-height: calc(100vh - 218px);
}

body.is-edit #tableTimeDiv {
    max-height: calc(100vh - 283px);
    min-height: calc(100vh - 283px);
}

.padding_0 {
    padding: 0;
}

.actual-total td.time-diff {
    text-align: center;
    padding: 0;
    box-shadow: 0px 0px 7px -1px #54b5c587;
}
#tabletimeTotal .filo-total,
#tabletimeTotal .filo-total td {
    font-size: 12px;
    padding: 4px 6px 0px;
    border: 0;
}

.btn-clear-entries:hover {
    text-decoration: none;
    color: #a00f0f
}
.btn-clear-entries {
    /* float: right; */
    color: #ce7777;
    font-size: 13px;
    text-decoration: none;
    font-weight: 800;
    font-family: sans-serif;
    padding: 0;
}

.is-edit td.text-right {
    padding: 0;
    text-align: left;
}
#tabletime td.text-right {
    width: 102px;
}
.entries-header {
    margin: 0;
    border-bottom: 1px solid #eaeaea;
}
.edit-entries {
    text-align: right;
}
.entries-edit-wrapper .edit,
.entries-edit-wrapper .add {
    line-height: 19px;
    padding-right: 11px;
    width: 35px;
    float: right;
    cursor: pointer;
}
.entries-edit-wrapper .edit span,
.entries-edit-wrapper .add span {
    font-size: 16px;
    color: #337ab7;
    margin-bottom: 3px;
}
/* .btn-done-edit {
    background-color: #ce2d22;
    border-color: #da4646;
} */

#newDateEntryModal .timeInputWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#newDateEntryModal .addNewTimeInput{
    margin-right: 10px;
}
#newDateEntryModal select,
#newDateEntryModal select option {
    font-size: 16px;
    font-weight: 600;
}
#newDateEntryModal .addNewTime.state{
    line-height: 26px;
    height: 26px;
    margin-left: 10px;
    margin-bottom: 2px;
}
#newDateEntryModal input,
#newDateEntryModal select {
    outline: 0;
    border:none;
}
#newDateEntryModal input {
    caret-color: red;
    font: 16px "Helvetica", "Arial", "sans-serif";
}

tr.inTimeRow {
    color: #2075bf;
}
