.header-wrapper {
  /* background: lightyellow;
  color: darkturquoise;
  margin-top: 5px; */
  background: rgb(232, 232, 219);
  color: rgb(24, 179, 181);
  margin-top: 1px;
}
.timer-wrapper {
  margin: 0 0 12px;
}
#intimer {
  color: peru;
}

button#settings {
    margin-bottom: 10px;
}
.settings span {
    font-size: x-large;
}
.option-flex{
  display: none;
}
.body-wrapper {
  margin-top: 10px;
}

.removeEntry{
    color: white;
    /* cursor: pointer; */
}

.removeEntry:before {
  font-size: large;
  line-height: 24px;
}